/* Reset and basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Parent full screen */
.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}

/* Different backgrounds to distinguish */
.parent-one {
  background-color: #f0f0f0;
}

.parent-two {
  background-color: #000000;
}

.parent-three {
  background-color: #9d9bd4;
  height: 100vh; /* স্ক্রল ও পিন কাজ করার জন্য */
}
.parent-three h1 {
  color: #000;
  font-size: 50vw;
}

.rectangle {
  width: 300px;
  height: 300px;
  background-color: #ff6b6b;
  border: 3px solid #333;
}
